@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Quicksand', sans-serif;
    color: grey;
    background-color: rgb(212, 212, 212);
}
/* configurações genéricas */
.container-grid {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 992px;
}

/***** Cabeçalho *****/
header {
    background-color: grey;
    height: 60px;

    display: flex;
    align-items: center;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-weight: 300;
}

header h1 #logoux{
    font-weight: 600;
    font-style: italic;
}

header nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
}


/* **** MAIN **** */

main .colunas-flex {
 display: flex;
 justify-content: space-between;
 margin-top: 20px;  
 margin-bottom: 60px;
}

/* conteudo lapis */
main .coluna1 {
    width: 75%;
    background-color: white;
    /* background-color: green; */
}

/* imagem do lápis */
main .coluna1 #lapis {
    width: 100%;
}

/* aside */
main .coluna2 {
    display: flex;
    width: 23%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/* Margem do paragrafo e titulo do conteudo principal */
.coluna1 p, h2{
    margin: 20px;
}

/* Formatação dos titulos do */
.coluna2 h3 {
    border-bottom: 1px solid grey;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    text-transform: uppercase;
}


aside {
    justify-content: space-evenly;
}

article{
    display: flex;
    height: max-content;
    background-color: white;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}


.coluna2 #posts ul {
    padding-left: 20px;
    margin: 10px;
}

.coluna2 #email p{
    margin: 10px;
    text-align: center;
}

.search-flex {
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
}

.material-symbols-outlined {
    color: white;
}

.pesquisar {
    background-color: grey;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.pesquisar-barra {
    border: 3px solid rgb(231, 231, 231);
    margin-right: 10px;
}

/* **************RODAPÉ ************************ */

.footer-flex{
    display: flex;
    height: 52px;
    align-items: center;
}

footer {
    display: flex;
    background-color: grey;
    color: white;
    height: 100%;
}

.pesquisar-email{
    border: 3px solid rgb(226, 226, 226);
    margin-bottom: 15px;
    height: 35px;
}